
/* General Styles */

* {
	box-sizing: border-box;
}

body {
	color: purple;
	background-image: url("../images/mulberry-pile.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

img {
	max-width: 100%; /* Don't get bigger than your container */
}


/* Typography */

h1 {
	color: orange;
}

.subheading {
	color: red;
}


/* Layout */

.wrapper {
	background-color: skyblue;
	padding: 20px; /* Add space all around wrapper */
	max-width: 700px; /* Magic max-width responsive styles */
	margin: auto; /* Center */
	margin-top: 40px; /* Add space on top */
}



/* Content */

.heading-image {
	margin: auto; /* Center the image */
	display: block; /*  */
}





