

/* General Styles */

* {
	box-sizing: border-box;
}

body {
	color: purple;
	background-image: url("../images/mulberry-pile.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Slabo 27px', sans-serif;
	font-size: 120%; /* Make the font slightly bigger */
}

/* Adding specific styles based on the body class */

.products {
	background-image: url("../images/mulberry-pile.jpg");
}

.about {
		
}

img {
	max-width: 100%; /* Don't get bigger than your container */
}


/* Typography */

h1 {
	text-transform: uppercase;
	text-align: center;
}

.subheading {
	/* Add a border to the top and some padding so it's not right up against the text */
	border-top: 1px dotted #00445E;
	padding-top: 10px;
}


/* Navigation */

.site-nav ul {
	list-style-type: none;
	text-align: center;
}


/* Layout */

.wrapper {
	background-color: #F7F8F0;
	padding: 20px; /* Add space all around wrapper */
	max-width: 900px; /* Magic max-width responsive styles */
	margin: 40px auto; /* Center and add space to top and bottom */
}


/* Content */

.heading-image {
	margin: auto; /* Center the image */
	display: block;
}


/* Media Queries */

@media(min-width: 565px) {

	.site-nav li {
		display: inline-block;
		margin: 10px;
	}

}


